<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body <%= color ? 'style=background-color:' + color : '' %> >
  <h1>Que color te gusta?</h1>
  <% if (color) { %>
		<p>El color elegido es: <%= color %></p>
	<% } %>

  <form action="/color" method="POST">
    <select name="color">
      <option value="">Elegí un color</option>
      <option value="yellow">Amarillo</option>
      <option value="blue">Azul</option>
      <option value="red">Rojo</option>
      <option value="green">Verde</option>
    </select><br>

  <label for="">Deseas recordar el color elegido?</label>
  <input type="checkbox" name="si" value="si"> <br>
  <input type="submit" value="Enviar">
</form>

<a href="/borrar">Olvidar el color</a>
<a href="/queColorEs">Ver el color te gusta</a>

</body>

</html>