<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="">
</head>
<body <%= color ? 'style=background-color:' + color : '' %>>
	<% if (color) { %>
		<h1>El color que te gusta es el: <%= color %></h1>
	<% } else { %>
		<h1>Aún no has elegido un color. ¿Qué te parece si <a href="/"> lo elegís</a>?</h1>
	<% } %>
</body>
</html>
